In [67]:
import os 
import numpy as np
import pandas  as pd

In [68]:
current_path =  os.getcwd()
prediction_file_path =  'prediction_lgbm.csv'
prediction_path = os.path.join(current_path, prediction_file_path)
print(f'The path file for the train dataset is: {prediction_path}')

The path file for the train dataset is: C:\Users\Admin\Desktop\finally-datascience\prediction_lgbm.csv

In [69]:
prediction_df = pd.read_csv(prediction_path).reset_index(drop=True)

In [70]:
prediction_df.head(5)

        fecha   total_calls
0  2018-10-01  25946.483415
1  2018-10-02  29357.264266
2  2018-10-03  29267.850762
3  2018-10-04  27939.861661
4  2018-10-05  26683.139977

In [71]:
current_path =  os.getcwd()
conf_day_hors_df_file_path =  'configuration_days_hours.csv'
conf_day_hors_df_path = os.path.join(current_path, conf_day_hors_df_file_path)
print(f'The path file for the train dataset is: {conf_day_hors_df_path}')

The path file for the train dataset is: C:\Users\Admin\Desktop\finally-datascience\configuration_days_hours.csv

In [72]:
conf_day_hors_df = pd.read_csv(conf_day_hors_df_path).reset_index(drop=True)

In [73]:
conf_day_hors_df.head(7)

     0     1     2     3     4    5    6    7    8    9   10
0  6.4  10.5  11.1  11.0  10.1  9.3  8.9  9.0  9.2  8.4  6.1
1  6.9  10.1  10.0  10.6  10.0  9.0  8.6  8.7  9.6  9.3  6.3
2  6.4   9.8  10.8  10.8  10.2  9.2  8.9  9.1  9.3  8.9  6.4
3  6.4   9.7  10.9  10.7  10.0  9.2  8.6  9.2  9.7  9.5  6.1
4  6.6  10.0  10.9  10.8  10.0  9.2  8.9  9.1  9.5  9.0  6.0
5  8.1  12.3  14.4  14.6  12.7  9.1  8.1  7.7  6.9  6.0  0.1

In [74]:
conf_day_hors_df.iloc[0]

0      6.4
1     10.5
2     11.1
3     11.0
4     10.1
5      9.3
6      8.9
7      9.0
8      9.2
9      8.4
10     6.1
Name: 0, dtype: float64

In [75]:
"""
return predictions_cube[date][dayOfWeek][hour]
"""
def prediction_table(predictions: pd.DataFrame, distribution: pd.DataFrame, ignoreDays={6,}):
    predictions['fecha'] = pd.to_datetime(predictions['fecha'])
    predictions['day_of_week'] = predictions['fecha'].dt.dayofweek
    numb_days : int = predictions.shape[0]
    numb_dayOfWeek : int = distribution.shape[0]
    numb_hours : int = distribution.shape[1]
    
    predictions_cube = np.zeros(shape=(numb_days,numb_hours))
    predictions_arr = predictions.values
    distribution_arr = distribution.values
    
    for pred in range(0, numb_days):
        dayOfWeek = predictions_arr[pred][2]
        for hour in range(0, numb_hours):
            if dayOfWeek in ignoreDays:
                predictions_cube[pred][hour] = 0
            else: 
                predictions_cube[pred][hour] = predictions_arr[pred][1] * distribution_arr[dayOfWeek][hour] / 100
            
    return predictions_cube

In [76]:
predictions_cube = prediction_table(predictions= prediction_df, distribution= conf_day_hors_df )

In [77]:
fecha_inicio = pd.to_datetime('2018-10-01')
rango_fechas = pd.date_range(start=fecha_inicio, periods=30, freq='D') # 30 dias
predicciones_distribucion = pd.DataFrame(predictions_cube, index=rango_fechas)
predicciones_distribucion.columns = [f'Hora_{i}' for i in range(11)] # 11 horas

In [78]:
predicciones_distribucion

,Hora_0,Hora_1,Hora_2,Hora_3,Hora_4,Hora_5,Hora_6,Hora_7,Hora_8,Hora_9,Hora_10
2018-10-01,1660.574939,2724.380759,2880.059659,2854.113176,2620.594825,2413.022958,2309.237024,2335.183507,2387.076474,2179.504607,1582.735488
2018-10-02,2025.651234,2965.083691,2935.726427,3111.870012,2935.726427,2642.153784,2524.724727,2554.081991,2818.297370,2730.225577,1849.507649
2018-10-03,1873.142449,2868.249375,3160.927882,3160.927882,2985.320778,2692.642270,2604.838718,2663.374419,2721.910121,2604.838718,1873.142449
2018-10-04,1788.151146,2710.166581,3045.444921,2989.565198,2793.986166,2570.467273,2402.828103,2570.467273,2710.166581,2654.286858,1704.331561
2018-10-05,1761.087239,2668.313998,2908.462258,2881.779118,2668.313998,2454.848878,2374.799458,2428.165738,2534.898298,2401.482598,1600.988399
2018-10-06,2036.690764,3092.752641,3620.783580,3671.072241,3193.329963,2288.134068,2036.690764,1936.113442,1734.958799,1508.659825,25.144330
2018-10-07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2018-10-08,1685.850371,2765.848265,2923.896738,2897.555326,2660.482617,2449.751321,2344.385672,2370.727085,2423.409909,2212.678612,1606.826135
2018-10-09,1966.486354,2878.480025,2849.980223,3020.979036,2849.980223,2564.982201,2450.982992,2479.482794,2735.981014,2650.481607,1795.487541
2018-10-10,1839.785645,2817.171769,3104.638276,3104.638276,2932.158372,2644.691865,2558.451913,2615.945214,2673.438516,2558.451913,1839.785645
2018-10-11,1787.672664,2709.441381,3044.630006,2988.765235,2793.238537,2569.779454,2402.185142,2569.779454,2709.441381,2653.576611,1703.875508
2018-10-12,1864.918371,2825.633895,3079.940945,3051.684606,2825.633895,2599.583183,2514.814166,2571.326844,2684.352200,2543.070505,1695.380337
2018-10-13,2195.038021,3333.205884,3902.289816,3956.488285,3441.602824,2466.030370,2195.038021,2086.641082,1869.847203,1625.954090,27.099235
2018-10-14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2018-10-15,1773.731737,2910.028631,3076.315982,3048.601423,2799.170398,2577.453931,2466.595697,2494.310255,2549.739372,2328.022905,1690.588062
2018-10-16,2106.263149,3083.080841,3052.555288,3235.708605,3052.555288,2747.299759,2625.197548,2655.723100,2930.453076,2838.876418,1923.109831
2018-10-17,1968.207208,3013.817287,3321.349663,3321.349663,3136.830237,2829.297861,2737.038148,2798.544623,2860.051099,2737.038148,1968.207208
2018-10-18,1853.002208,2808.456471,3155.894385,3097.988066,2895.315950,2663.690674,2489.971717,2663.690674,2808.456471,2750.550152,1766.142729
2018-10-19,1987.555535,3011.447781,3282.478081,3252.363603,3011.447781,2770.531958,2680.188525,2740.417480,2860.875392,2710.303003,1806.868668
2018-10-20,2273.770517,3452.762637,4042.258697,4098.401179,3565.047601,2554.482927,2273.770517,2161.485553,1936.915626,1684.274457,28.071241
2018-10-21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2018-10-22,1792.376674,2940.617981,3108.653294,3080.647409,2828.594439,2604.547355,2492.523813,2520.529698,2576.541469,2352.494385,1708.359018
2018-10-23,2074.838833,3037.082929,3007.012801,3187.433569,3007.012801,2706.311521,2586.031009,2616.101137,2886.732289,2796.521905,1894.418064
2018-10-24,1925.401883,2948.271633,3249.115677,3249.115677,3068.609251,2767.765207,2677.511993,2737.680802,2797.849611,2677.511993,1925.401883
2018-10-25,1958.315248,2968.071547,3335.255656,3274.058305,3059.867574,2815.078169,2631.486114,2815.078169,2968.071547,2906.874196,1866.519220
2018-10-26,2011.078917,3047.089268,3321.327302,3290.856409,3047.089268,2803.322127,2711.909449,2772.851234,2894.734805,2742.380341,1828.253561
2018-10-27,2463.657759,3741.109931,4379.836017,4440.667072,3862.772042,2767.813038,2463.657759,2341.995648,2098.671425,1824.931674,30.415528
2018-10-28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2018-10-29,1949.358215,3198.165821,3380.918153,3350.459431,3076.330932,2832.661155,2710.826267,2741.284989,2802.202433,2558.532657,1857.982048
2018-10-30,2165.977815,3170.489265,3139.098282,3327.444179,3139.098282,2825.188454,2699.624522,2731.015505,3013.534351,2919.361402,1977.631918

In [81]:
predicciones_distribucion.to_excel("./distribucion_prediccion_hora.xlsx", index=False)